body, html {
    font-family: Arial, Helvetica, sans-serif, Times, serif;
    background-size: cover;
}

footer {
    vertical-align: bottom;
    width: 100%;
    padding-bottom: 5px;
    font-size: 1rem;
    color: black;
    text-align: center;
}

h1 {
    text-align: center;
    margin-bottom: 1rem;
}

h2 {
    background-color: #f8f9fa;
    text-align: center;
    justify-content: center;
    margin-bottom: 1rem;
    margin-top: 2rem;
    margin-left: 25%;
    width: 50%;
    border-radius: 5px;
    padding: 1rem;
    opacity: 0.85;
}

.login, .register {
    text-align: center;
    justify-content: center;
    margin-bottom: 1rem;
    margin-top: 1%;
    width: 30%;
    margin-left: 35%;
}

.errorMessage {
    text-align: center;
    color: tomato;
    margin-bottom: 1rem;
}

.menu{
    text-align: center;
    justify-content: center;
    margin-bottom: 1rem;
    margin-top: 1%;
    margin-left: 25%;
    width: 50%;
    opacity: 0.9;
    border-radius: 10px;
}

li, ul {
    list-style-type: none;
    text-align: center;
}

li {
    margin-top: 1%;
}

tr:nth-child(even) {
    background-color: #f2f2f2; 
}

label {
    vertical-align: top;
}

.regForm {
    width: 50%;
    justify-content: center;
    text-align: center;
    margin-left: 25%;
}

.card {
    border: 10px solid gray;
}

.ordering {
    text-align: center;
    justify-content: center;
    margin-bottom: 1rem;
    margin-top: 1%;
    margin-left: 25%;
    width: 50%;
    opacity: 0.9;
    border-radius: 10px;
    background-color: #f8f9fa;
}

.addtoorder td {
    padding-left: 1.5rem;
    padding-right: 1rem;
    padding-bottom: 5px;
    justify-content: center;
    text-align: center;
    margin: 2%;
}

.btn {
    width: 10rem;
}

.shoppingcart {
    width: 75%;
    margin-left: 12.5%;
    margin-top: 3%;
    padding: 0.3rem;
}

#status {
    color: blue;
}

.staff {
    width: 75%;
    margin-left: 12.5%;
    margin-top: 3%;
    padding: 0.3rem;
    text-align: left;
}

