{% extends "orders/base.html" %}

{% block body %}
    <section class="login">
        <div class="card card-body">
            <form method="POST" id="loginForm">
                {% csrf_token %}
                <div class="form-group">
                    <label for="id_userName">Username</label>
                    {{ form.username }}
                </div>
                    
                <div class="form-group">
                    <label for="id_password">Password</label>
                    {{ form.password }}
                </div>
                
                <p>
                    <button type="submit" class="btn btn-primary">Log In</button>
                </p>                        
            </form>
        </div>    
    </section>    
{% endblock %}