{% extends 'orders/base.html' %}

{% block body %}
    <div class="card card-body shoppingcart">
        <section>
            {% if items == None %}
            <p>
                <h2>You haven't placed any order. Please order <a href="{% url 'order' %}">here.</a> Or place an order in your <a href="{% url 'shopping_cart' %}">shoppingcart.</a></a></h2>
            </p>
            {% else %}
                <table>
                    <tr>
                        <td><h6>Item</h6></td>
                        <td><h6>Price</h6></td>
                    </tr>
                    {% for item in items %}
                    <tr>
                        <td>{{ item }}</td>
                        <td>${{ item.price|floatformat:2 }}</td>
                    </tr>
                    {% endfor %}
                </table>
                <hr>
                <h3>Total: <strong>${{ price|floatformat:2 }}</strong></h3>
                <br>
                <h3>Order Status: <span id="status"><strong>{{ status }}</strong></span></h3>
            {% endif %}
        </section>        
        <section>
            <form method="POST">
                {% csrf_token %}
                <h5>Update status:</h5>
                <p>
                    <select class="custom-select mr-sm-2" id="process" name="new_status">
                        <option selected>Choose...</option>
                        <option value="placed">Placed</option>
                        <option value="preparing">Preparing</option>
                        <option value="cooking">Cooking</option>
                        <option value="finished">Finished</option>
                        <option value="delivered">Delivered</option>
                    </select>
                </p>                
                <br>
                <p>
                    <input type="submit" class="btn btn-primary" value="Update">
                </p>                
            </form>
        </section>
    </div>
{% endblock %}